{
  "nick":"TripleSRuby",
  "user":"TripleSRuby",
  "server":"irc.freenode.org",
  "port": 6667,
  "ssl": false,
  "password":"",
  "channels":[
    ""
  ],
  "listenport": 1337,
  "listenaddress": "127.0.0.1",
  "owner": "",
  "database": "app.db",
  "plugins":[
    "FuckYeah", "FML", "CatFact", "CatFace", "Test", "Permissions", "Wiki", "ManagePlugins", "Hello", "FrogTips", "PokemonTips"
  ]
}
